.actions {
  padding: 0 21px 0 20px;
  margin-bottom: 53px;
}

.actions__title {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.actions__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.actions__item {
  margin-bottom: 26px;
  padding-left: 80px;
}

.actions__desc {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
