.actions {
  width: 100%;
}

.actions__wrap {
  @include centre;
  padding: 0 20px 53px;
}

.actions__title {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.actions__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.actions__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    margin-top: 42px;
    top: -44px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-leaf::after {
    background-image: url("../img/icon_leaf.svg");
  }

  &--icon-eat::after {
    background-image: url("../img/icon_eat.svg");
  }

  &--icon-tub::after {
    background-image: url("../img/icon_tub.svg");
  }

  &--icon-alarm::after {
    background-image: url("../img/icon_alarm.svg");
  }
}

.actions__desc {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.actions__desc-br {
  display: none;
}

// планшетная версия
@media (min-width: $tablet-width) {
  .actions__wrap {
    width: 708px;
    margin: 0 auto;
    padding: 15px 75px 47px 0;
  }

  .actions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .actions__desc {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 151px;
    width: 100%;
  }

  .actions__list {
    display: grid;
    grid-template-columns: 247px 249px;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
    counter-reset: list;
  }

  .actions__item {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 127px 39px;
    position: relative;
  }

  .actions__item--icon-tub,
  .actions__item--icon-eat,
  .actions__item--icon-alarm {
    &::before {
      counter-increment: list;
      content: counter(list);
      color: #f2f2f2;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      top: 1px;
      right: 2px;
      z-index: -1;
    }
  }

  .actions__item::after {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }

  .actions__item--icon-leaf {
    &::before {
      counter-increment: list;
      content: counter(list);
      color: #f2f2f2;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      top: 1px;
      right: 22px;
      z-index: -1;
    }
  }

  .actions__desc-br {
    display: initial;
  }
}
// десктоп версия
@media (min-width: $desktop-width) {
  .actions__wrap {
    width: 1440px;
    padding: 0 106px 69px 110px;
  }

  .actions__item::after {
    left: 0;
    top: -3px;
  }

  .actions__list {
    grid-template-columns: 247px 249px 248px 250px;
    grid-template-rows: auto;
    column-gap: normal;
    justify-content: space-between;
  }

  .actions__item {
    min-height: 280px;
  }
}
