.actions {
  width: 100%;
}

.actions__wrap {
  @include centre;
  padding: 0 20px 49px;
}

.actions__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.actions__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.actions__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

.actions__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-top: 42px;
  top: -44px;
  left: 0;
}

.actions__desc {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

// планшетная версия
@media (min-width: $tablet-width) {
  .actions__wrap {
    width: 708px;
    margin: 0 auto;
    padding: 15px 75px 47px 0;
  }

  .actions__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .actions__list {
    display: grid;
    grid-template-columns: 247px 249px;
    grid-template-rows: 280px 280px;
    column-gap: 137px;
    row-gap: 37px;
  }

  .actions__desc {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 151px;
  }


  .actions__item {
    margin: 0;
    padding: 0;

    &:nth-child(1) {
      background-image: url("../img/1-actions-item.png");
      background-repeat: no-repeat;
      background-position: 127px 39px;
    }

    &:nth-child(2) {
      background-image: url("../img/2-actions-item.png");
      background-repeat: no-repeat;
      background-position: 127px 39px;
    }

    &:nth-child(3) {
      background-image: url("../img/3-actions-item.png");
      background-repeat: no-repeat;
      background-position: 127px 39px;
    }

    &:nth-child(4) {
      background-image: url("../img/4-actions-item.png");
      background-repeat: no-repeat;
      background-position: 127px 39px;
    }
  }

  .actions__item::after {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }
}

// десктоп версия
@media (min-width: $desktop-width) {
  .actions__wrap {
    width: 1440px;
    padding: 0 106px 69px 110px;
  }

  .actions__list {
    grid-template-columns: 247px 249px 248px 250px;
    grid-template-rows: auto;
    column-gap: normal;
    justify-content: space-between;
  }

  .actions__item {
    min-height: 280px;
  }
}
