.additional-products {
  width: 100%;
}

.additional-products__wrap {
  @include centre;
}

.additional-products__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.additional-products__list {
  @include list-reset;
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
  margin: 1px 20px 19px;
  &:last-child {
    margin: 1px 20px 0;
    padding-bottom: 19px;
    border-bottom: 1px solid #ebebeb;
  }
}

.additional-products__title-item {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 13px;
}

.additional-products__features {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.additional-products__btn-order {
  width: 280px;
  height: 40px;
  color: #ffffff;
  background-color: #68b738;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
