.additional-products {
  width: 100%;
}

.additional-products__wrap {
  @include centre;
}

.additional-products__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: start;
  padding-left: 19px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $green;
    top: 39px;
    left: 266px;
  }
}

.additional-products__list {
  @include list-reset;
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
  margin: 0 20px 19px;

  &:last-child {
    margin: 1px 20px 0;
    padding-bottom: 19px;
    border-bottom: 1px solid #ebebeb;
  }
}

.additional-products__title-item {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-left: 1px;
}

.additional-products__features {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.additional-products__btn-order {
  width: 280px;
  height: 40px;
  color: #ffffff;
  background-color: #68b738;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .additional-products__wrap {
    width: 768px;
    padding: 0 30px;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-left: 37px;
    text-align: start;
    margin-bottom: 80px;
  }

  .additional-products__title-text {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    padding-left: 36px;
    padding-right: 36px;
  }

  .additional-products__item {
    padding: 26px 38px 31px;
    margin: 0;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 21px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
      margin: 0;
      padding-bottom: 26px;
    }
  }

  .additional-products__title-item {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 17px;
  }

  .additional-products__features {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .additional-products__flex {
    margin: 0;
    display: grid;
    grid-template-columns: 220px 80px;
    gap: 13px;
    padding-top: 1px;
  }

  .additional-products__btn-order {
    width: 100%;
    height: 39px;
  }

  .additional-products__title::after {
    width: 200vw;
    top: 23px;
    left: -100%;
  }
}


@media (min-width: $desktop-width) {
  .additional-products__wrap {
    width: 896px;
    padding: 0;
    margin: 0;
  }

  .additional-products__title {
    padding: 0;
    margin-bottom: 81px;
  }

  .additional-products__list {
    width: 896px;
  }

  .additional-products__item {
    padding: 18px 0 12px;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 326px 326px 244px;
    gap: 0;
  }

  .additional-products__title-item {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
  }

  .additional-products__flex {
    margin: 0;
    grid-template-columns: 229px 82px;
  }

  .additional-products__btn-order {
    width: 244px;
    height: 40px;
  }

  .additional-products__features {
    text-align: start;
  }

  .additional-products__item:last-child {
    padding-bottom: 11px;
  }

  .additional-products__title::before {
    width: 70px;
    top: 24px;
    left: -110px;
  }

  .additional-products__title::after {
    width: 957px;
    top: 26px;
    left: 374px;
  }
}
