.address__wrap {
  width: 100%;
  margin: 0 auto;
}

.address__flex {
  display: flex;
  min-height: 112px;
  align-items: center;
  padding: 26px 20px;
  background-color: #ffffff;
  justify-content: space-between;
}

.address__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 134px;
}

.address__place {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 136px;
  margin-right: 3px;
}

.address__iframe-title {
  @include visually-hidden;
}

.address__iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .address__wrap {
    width: 768px;
  }

  .address__iframe {
    height: 400px;
  }

  .address__flex {
    padding: 58px 67px 56px 70px;
    justify-content: space-between;
  }

  .address__text {
    width: 180px;
    font-size: 20px;
    line-height: 26px;
  }

  .address__place {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .addres__city {
    margin-top: 19px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .address__wrap {
    width: 1440px;
    position: relative;
  }

  .address__flex {
    position: absolute;
    top: 119px;
    left: 110px;
    padding: 56px 80px;
    width: 565px;
    height: 198px;
    background-color: #ffffff;
  }

  .address__place {
    text-align: start;
    margin-right: -5px;
    margin-bottom: 4px;
  }
}
