.catalog__wrap {
  @include centre;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  padding-left: 20px;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  padding: 20px 20px 25px 20px;
  height: 209px;
  display: grid;
  grid-template-columns: 105px 140px;
  grid-template-rows: 44px 45px 55px;
  column-gap: 36px;
  row-gap: 10px;
  border-top: 1px solid #ebebeb;


  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.catalog__features {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__features-list {
  padding: 0;
  list-style: none;
  grid-column: 2/3;
  display: grid;
}

.catalog__features-meaning {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__features-meaning--left {
  padding-right: 3px;
}

.catalog__features-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__btn-order {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 280px;
  height: 41px;
  color: #ffffff;
  background-color: $green;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog__show-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  gap: initial;
}

.catalog__show-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__show-desc {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__btn-show {
  width: 280px;
  height: 40px;
  color: #444444;
  background-color: #f2f2f2;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog__img-wrap {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 112px;
}

@media (min-width: $tablet-width) {
  .catalog__wrap {
    width: 768px;
    padding: 33px 30px 68px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
    align-items: flex-start;
  }


  .catalog__item {
    width: 324px;
    height: auto;
    padding: 0 37px 39px 39px;
    display: flex;
    flex-direction: column;
    border: none;
    background-image: linear-gradient(to bottom, #ffffff 82px, #f2f2f2 82px);
    gap: initial;
    align-items: center;
    justify-content: end;
  }

  .catalog__img {
    margin: 0;
    max-height: 100%;
    width: auto;
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .catalog__features,
  .catalog__features-meaning {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__features-item {
    padding: 6px 0 7px;
    margin-bottom: 0.5px;
  }


  .catalog__features-item--border {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__item-title br {
    display: none;
  }

  .catalog__btn-order {
    width: 100%;
    margin-top: 35px;
  }

  .catalog__item:last-child {
    border-bottom: 2px solid #f2f2f2;
  }

  .catalog__show-wrap {
    height: 432px;
    border: 2px solid #f2f2f2;
    background: none;
    margin-top: 33px;
    padding: 164px 37px 38px;
    align-self: flex-end;
    position: relative;

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      background-image: url("../img/plus-tab-desk.svg");
      top: 51px;
      left: 129px;
    }
  }

  .catalog__features-list {
    margin-top: 15px;
    align-self: stretch;
  }

  .catalog__img-wrap {
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 12px;
  }

  .catalog__show-title {
    font-size: 20px;
    width: 135px;
    text-align: center;
    margin-bottom: 23px;
  }

  .catalog__show-desc {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    text-align: center;
    margin-bottom: 87px;
  }

  .catalog__btn-show {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrap {
    width: 1440px;
    padding: 42px 110px 75px;
  }

  .catalog__title {
    margin-bottom: 84px;
  }

  .catalog__list {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 82px;
    row-gap: 69px;
  }

  .catalog__item {
    width: 245px;
    height: auto;
    padding: 0 38px 40px;
  }

  .catalog__img-wrap {
    height: 196px;
    margin-top: 3px;
  }

  .catalog__item-title {
    margin-top: 44px;
    line-height: 21px;
  }

  .catalog__btn-order {
    margin-top: 34px;
  }

  .catalog__show-wrap {
    height: 430px;
    margin: 0;
    padding-left: 30px;
  }

  .catalog__show-title {
    margin-top: 160px;
  }

  .catalog__show-wrap::before {
    top: 53px;
    left: 86px;
  }

  .catalog__features-list {
    margin-top: 17px;
  }
}
