.catalog__wrap {
  @include centre;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  padding-left: 20px;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  padding: 20px 20px 25px 20px;
  height: 209px;
  display: grid;
  grid-template-columns: 105px 140px;
  grid-template-rows: 43px 45px 39px;
  column-gap: 36px;
  row-gap: 18px;
  border-top: 1px solid #ebebeb;
  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }
}

.catalog__item-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.catalog__img {
  grid-column: 1/2;
  grid-row: 1/3;
  align-items: center;
  margin: auto;
}

.catalog__features {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__features-list {
  padding: 0;
  list-style: none;
  grid-column: 2/3;
  display: grid;
}

.catalog__features-meaning {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__features-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__btn-order {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 280px;
  height: 40px;
  color: #ffffff;
  background-color: $green;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__show-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  gap: initial;
}

.catalog__show-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__show-desc {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__btn-show {
  width: 280px;
  height: 40px;
  color: #444444;
  background-color: #f2f2f2;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .catalog__wrap {
    width: 768px;
    padding: 33px 30px 68px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 82px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }


  .catalog__item {
    width: 324px;
    height: 511px;
    padding: 38px 37px 39px 39px;
    display: flex;
    flex-direction: column;
    border: none;
    background-image: linear-gradient(to bottom, #ffffff 82px, #f2f2f2 82px);
    gap: initial;
  }

  .catalog__img {
    margin: 0;
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    align-self: center;
    text-align: center;
  }

  .catalog__item-title br {
    display: none;
  }

  .catalog__btn-order {
    width: 100%;
  }

  .catalog__item:last-child {
    border-bottom: 2px solid #f2f2f2;
  }

  .catalog__show-wrap {
    height: 429px;
    border: 2px solid #f2f2f2;
    align-self: flex-end;
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrap {
    width: 1440px;
    padding: 42px 110px 75px;
  }

  .catalog__title {
    margin-bottom: 84px;
  }

  .catalog__list {
    grid-template-columns: 245px 245px 245px 245px;
  }

  .catalog__item {
    width: 245px;
    height: 511px;
    padding: 242px 30px 40px 35px;
  }
}
