.contacts {
  background-color: #f2f2f2;
}

.contacts__wrap {
  @include centre;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 236px;
  padding: 39px 20px 22px;
}

.contacts__link {
  margin-bottom: 32px;
}


.contacts__social-list {
  margin: 0;
  padding: 20px 0 20px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  align-self: stretch;
  gap: 24px;
}

.contacts__copyright {
  width: 281px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__copyright-name {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}

.contacts__title {
  @include visually-hidden;
}

@media (min-width: $tablet-width) {
  .contacts__wrap {
    width: 768px;
    min-height: 147px;
    flex-direction: row;
    padding: 58px 30px 55px;
    justify-content: space-between;
  }

  .contacts__link {
    margin: 0;
  }

  .contacts__social-list {
    border: none;
    padding: 0;
    align-self: center;
  }

  .contacts__copyright {
    margin: 0;
    width: 163px;
    flex-wrap: wrap;
  }

  .contacts__copyright-name {
    width: 114px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrap {
    width: 1440px;
    padding: 57px 110px 58px;
  }
}
