.example {
  background-color: #eaeaea;
}

.example__wrap {
  padding: 25px 20px 40px;
  margin: 0 auto;
  width: 320px;
}


.example__title {
  margin: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__weight {
  display: flex;
  margin-bottom: 76px;
  justify-content: space-between;
  position: relative;
}


.example__description {
  margin: 0;
  position: relative;
  width: 124px;
  height: 55px;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0 20px 0 20px;
}

.example__data-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}


.example__data-description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  position: absolute;
  top: 46px;
  right: 18px;
  width: 87px;
  height: 24px;
  text-align: center;
  background-color: #eaeaea;
}

.example__expenses {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 91px;
  left: 47px;
}


.example__toggle {
  display: flex;
}

.example__btn {
  width: 49px;
  height: 30px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
}

.example__range {
  width: 280px;
  height: 256px;
  position: relative;
  display: flex;
}

.example__range-image-wrap {
  width: 50%;
  background-color: #eaeaea;
}

.example__range-image-wrap--before {
  overflow: hidden;
  z-index: 1;
}

.example__range-image-wrap--after .example__img {
  position: absolute;
  left: 0;
}

.example__range-toggle {
  position: absolute;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;
  top: 0;
  left: 138px;
  z-index: 2;

  &:hover {
    background-color: #68b738;

    .example__range-button {
      border: 2px solid #68b738;
    }

    .example__range-vector {
      color: #68b738;
    }
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);

    .example__range-button {
      border: 2px solid rgba(104, 183, 56, 0.3);
    }

    .example__range-vector {
      color: rgba(104, 183, 56, 0.3);
    }
  }
}

.example__range-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  top: 108px;
  right: -18px;
}

.example__range-vector {
  margin-top: 3px;
  margin-left: 1px;
  color: #666666;
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    width: 768px;
    margin: 0 auto;
  }

  .example__wrap {
    width: 100%;
    background-image: linear-gradient(to top, #eaeaea 465px, #ffffff 465px);
    padding: 43px 30px 101px 30px;
    border-top: 1px solid #e6e6e6;
    position: relative;
  }

  .example__range-image-wrap {
    background-image: linear-gradient(to bottom, #ffffff 149px, #eaeaea 149px);
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    width: 96%;
  }

  .example__data-title {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-family: "Arial", sans-serif;
    width: 162px;
    height: 72px;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 29px;
    position: absolute;
    top: 6px;
    left: 532px;
    margin: 0;
    width: 174px;
    text-align: right;
  }

  .example__weight {
    margin-bottom: 104px;
    width: 366px;
    position: relative;
  }

  .example__data-description {
    width: 114px;
    right: 24px;
    top: 62px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;

    &--two {
      width: 142px;
      right: 9px;
    }
  }

  .example__br {
    display: none;
  }

  .example__range {
    width: 560px;
    height: 512px;
    position: relative;
    display: flex;
    margin: 0 auto;
  }

  .example__range-toggle {
    height: 512px;
    top: 0;
    left: 50%;
  }

  .example__range-button {
    top: 236px;
  }
}

// десктопная версия
@media (min-width: $desktop-width) {
  .example {
    width: 1440px;
  }

  .example__wrap {
    width: $desktop-width;
    padding: 0 110px 75px;
    border: none;
    background-image: linear-gradient(to bottom, #ffffff 136px, #eaeaea 136px);
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    width: 436px;
    margin-bottom: 69px;
  }

  .example__expenses {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    width: 436px;
    text-align: left;
    top: 130px;
    left: 1px;
  }

  .example__expenses-span {
    margin-right: 63px;
  }

  .example__range {
    top: 0;
    right: 110px;
    position: absolute;
  }

  .example__weight {
    margin-bottom: 55px;
  }

  .example__range-image-wrap {
    background-image: linear-gradient(to bottom, #ffffff 136px, #eaeaea 136px);
  }

  .example__data-description {
    background-color: #eaeaea;
  }

  .example__range-vector {
    margin-left: -1px;
  }

  .example__description {
    padding-bottom: 8px;
  }
}
