.food__wrap {
  width: 320px;
  margin: 0 auto;
}

.food__food-promo {
  text-align: center;
  padding: 27px 20px 0;
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
}

.food__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.food__lead {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.food__list {
  @include list-reset;
  width: 280px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.food__item {
  padding: 0 20px 0 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.food__item-title {
  margin: 30px 0 29px 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.food__item-text {
  margin: 0;
  padding-bottom: 23px;
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.food__button {
  @include btn;
  width: 100%;
}

.food__item-link {
  @include btn;
  color: #000000;
  background-color: #f2f2f2;
  width: 124px;
  height: 24px;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 4px 4px 0;
  display: flex;
  justify-content: start;
  align-self: start;
  margin-top: 15px;
  margin-bottom: 18px;
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .food__wrap {
    width: 708px;
  }

  .food__title {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    text-align: left;
    width: 420px;
  }

  .food__lead {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .food__food-promo {
    background-image: none;
    padding: 30px 87px 0 87px;
    position: relative;
  }

  .food__button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 253px;
  }

  .food__list {
    width: 708px;
    margin: 0;
  }

  .food__item {
    padding: 77px 53px 53px;
    align-items: start;
    margin-bottom: 30px;
  }

  .food__item-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
  }

  .food__item-text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    border-bottom: none;
    padding: 0;
    margin-bottom: 48px;
  }

  .food__item-link {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
    height: 38px;
    margin: 0;
    padding: 4px 57px 4px 0;
  }

  .food__image {
    position: relative;
    top: -10px;
    left: -80px;
  }
}

// десктоп версия
@media (min-width: $desktop-width) {
  .food__wrap {
    width: 1440px;
  }

  .food__food-promo {
    padding: 0 0 0 190px;
    height: 475px;
  }

  .food__title {
    margin: 0;
    margin-top: 82px;
  }

  .food__lead {
    margin-top: 40px;
  }

  .food__list {
    width: 1440px;
    display: grid;
    padding: 82px 110px 71px;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }

  .food__item {
    width: 570px;

    &:last-child {
      margin-right: 0;
    }
    padding: 77px 52px 55px;
  }

  .food__item-title {
    align-self: center;
    margin-bottom: 73px;
  }

  .food__item-text {
    width: auto;
    margin-bottom: 23px;
  }

  .food__button {
    top: 230px;
  }

  .food__image {
    top: -290px;
    left: 20px;
  }
}
