.header {
  width: 100%;
}

.header__wrap {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px 10px;
  min-height: 64px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.header__logo-text {
  padding-right: 12px;
}

.header__logo-text-img:hover,
.header__logo-img:hover {
  opacity: 0.8;
}

.header__logo-text-img:active,
.header__logo-img:active {
  opacity: 0.6;
}


@media (min-width: $tablet-width) {
  .header__wrap {
    width: 768px;
    padding: 24px 30px 32px;
    border: none;
  }

  .header__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header__wrap {
    width: 1220px;
    padding: 53px 0 32px 0;
    border: none;
  }

  .header__logo-text {
    display: none;
  }
}
