.header {
  width: 100%;
}

.header__wrap {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 17px;
  min-height: 64px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .header__wrap {
    width: 708px;
    padding: 24px 0 32px 0;
  }
}

@media (min-width: $desktop-width) {
  .header__wrap {
    width: 1220px;
    padding: 53px 0 32px 0;
    border: none;
  }
}
