.navigation-menu__list {
  @include list-reset;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  top: 60px;
  display: none;
}

.navigation-menu__link {
  color: #000000;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 0;
  display: block;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.navigation-menu__toggle-text {
  @include visually-hidden;
}
