.navigation-menu__toggle {
  width: 24px;
  height: 30px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.navigation-menu__list {
  @include list-reset;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  top: 65px;
  display: none;
}

.navigation-menu__link {
  color: #000000;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 22.5px 0;
  display: block;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  text-transform: uppercase;
  padding-right: 2px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.navigation-menu__toggle-text {
  @include visually-hidden;
}

// Только мобильная версия
@media (max-width: $mobile-width-only) {
  .navigation-menu--open .navigation-menu__toggle {
    background-image: url("../img/btn-header-open.svg");
    background-position: 1px 2px;
  }

  .navigation-menu--close .navigation-menu__toggle {
    background-image: url("../img/btn-header-close.svg");
    background-position: 2px 1px;
  }

  .navigation-menu--close .navigation-menu__list {
    display: block;
  }
}

// Планшетная версия
@media (min-width: $tablet-width) {
  .navigation-menu__toggle {
    display: none;
  }

  .navigation-menu__list {
    display: flex;
    position: static;
    background: rgba(0, 0, 0, 0);
    margin-right: 3px;
    margin-top: 6px;
  }

  .navigation-menu__item {
    margin-right: 36px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &--active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $green;
      top: 36px;
      left: 2px;
    }
  }

  .navigation-menu__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0;
  }
}

// десктопная версия
@media (min-width: $desktop-width) {
  .navigation-menu__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
  }

  .navigation-menu__link--white {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .navigation-menu__item {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation-menu__item--active-white::after {
    background-color: #ffffff;
  }

  .navigation-menu__list {
    margin: 0;
  }
}
