.order-all__wrap {
  width: 280px;
  height: 290px;
  margin: 0 auto;
  padding: 188px 61px 43px 58px;
  background-image: url("../img/background-catalog.jpg");
  margin-top: 35px;
  margin-bottom: 35px;
}

.order-all__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .order-all__wrap {
    width: 708px;
    height: 200px;
    margin-top: 68px;
    margin-bottom: 76px;
    background-image: url("../img/order-tablet-img.jpg");
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
  }

  .order-all__desc {
    width: 180px;
    text-align: start;
    top: 72px;
    position: absolute;
    right: 105px;
  }
}

@media (min-width: $desktop-width) {
  .order-all {
    align-self: flex-end;
  }


  .order-all__wrap {
    margin: 0;
    width: 245px;
    min-height: 289px;
    background-image: url("../img/order-desktop-img.jpg");
  }

  .order-all__desc {
    right: 35px;
    top: 186px;
    text-align: center;
  }
}
