.order-all {
  width: 280px;
  height: 290px;
  margin: 35px 20px;
  padding: 186px 61px 43px 58px;
  background-image: url("../img/background-catalog.jpg");
}

.order-all__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}
