.order-all {
  width: 100%;
}

.order-all__wrap {
  width: 280px;
  height: 290px;
  margin: 0 auto;
  padding: 186px 61px 43px 58px;
  background-image: url("../img/background-catalog.jpg");
  margin-top: 35px;
  margin-bottom: 35px;
}

.order-all__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .order-all__wrap {
    width: 708px;
    height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    background-image: url("../img/order-tablet-img.jpg");
    background-repeat: no-repeat;
  }
}
