.page__body {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .page__body--image::before {
    content: "";
    width: 50%;
    height: 694px;
    background-image: url("../img/background-index-desktop.jpg");
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #64a83c;
    background-position-x: right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-index-desktop@2x.jpg");
    }
  }
}
