.program__wrap {
  @include centre;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px 20px;
}

.program__title--owner,
.program__title--comment,
.program__title--additionally {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin: 0;
}

.program__title--owner {
  margin-top: 0;
  margin-bottom: 35px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $green;
    height: 2px;
    width: 99px;
    top: 15px;
    right: -19px;
  }
}

.program__title--comment {
  margin-bottom: 38px;
  padding-left: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $green;
    height: 2px;
    width: 158px;
    top: 15px;
    right: -177px;
  }
}

.program__title--additionally {
  margin-bottom: 37px;
  margin-left: -2px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: $green;
    height: 2px;
    width: 136px;
    top: 15px;
    right: -157px;
  }
}

.program__input--owner {
  padding-top: 5px;
}

.program__desc {
  margin: 0;
  margin-bottom: 39px;
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program__fieldset {
  margin: 0;
  color: #444444;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  border: none;
}

.program__fieldset--cat {
  padding: 0 20px 25px;
  border-bottom: 1px solid #d9d9d9;
}

.program__fieldset--choice {
  padding: 29px 23px 24px 20px;
  border-bottom: 1px solid #d9d9d9;
}

.program__fieldset--owner {
  padding: 0 19px 23px;
  margin-top: 27px;
}

.program__fieldset--comment {
  padding: 0 20px 11px;
}

.program__fieldset--additionally {
  padding: 0 20px;
  margin-bottom: 39px;
}

.program__label {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  position: relative;
}

.program__label--checkbox-field {
  display: flex;
  padding-left: 44px;
  position: relative;
}

.program__input--checkbox-field:hover + .program__control-mark-checkbox {
  border-color: #bababa;
}

.program__input--checkbox-field:disabled + .program__control-mark-checkbox {
  opacity: 0.3;
}

.program__input--checkbox-field:disabled ~ .program__checkbox-text {
  opacity: 0.3;
}

.program__control-mark-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  position: absolute;
  left: 0;
  bottom: -7px;
}

.program__label--radio-field {
  display: flex;
  gap: initial;
  position: relative;
  padding-left: 45px;
}

.program__control-mark-radio {
  position: absolute;
  width: 30px;
  height: 30.1px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: -5px;
}


.program__input--radio-field:checked + .program__control-mark-radio::before {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.55px;
  background-color: #68b738;
  left: 7.2px;
  top: 7.2px;
  border-radius: 50%;
}

.program__label--cat-name {
  margin-bottom: 13px;
}

.program__label--cat-weight {
  margin-bottom: 10px;
}

.program__input {
  height: 46px;
  width: 100%;
  margin: 0;
  padding-left: 14px;
  padding-right: 40px;
  padding-top: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;


  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:focus + .program__label-icon-phone,
  .program__label-icon-email {
    color: #68b738;
  }

  &:focus + .program__label-icon-email {
    color: #68b738;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.program__input--cat-name {
  padding-left: 18px;
}

.program__name-label--cat-weight {
  padding-bottom: 4px;
}

.program__input--cat-weight {
  padding-left: 23px;
}

.program__input--cat-age {
  padding-top: 6px;
}

.program__label--owner-email {
  margin-bottom: 14px;
  gap: 14px;
}

.program__name-label--owner-email {
  padding-bottom: 5px;
}

.program__name-label--owner-phone {
  padding-bottom: 6px;
}

.program__input--owner-phone {
  padding-left: 16px;
}

.program__input--radio-field,
.program__input--checkbox-field {
  @include visually-hidden;
}

.program__input--radio-field:disabled + .program__control-mark-radio {
  opacity: 0.3;
}

.program__input--radio-field:disabled ~ .program__label-text {
  opacity: 0.3;
}

.program__input--radio-field:hover + .program__control-mark-radio {
  border-color: #bababa;
}

.program__choice-list,
.program__additionally-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program__name-label {
  align-self: center;
  margin-bottom: 0;
}

.program__choice-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__additionally-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__input--checkbox-field[type="checkbox"]:checked + .program__control-mark-checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../img/tick.svg");
  left: 5px;
  top: 8px;
}

.program__comment-textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  padding: 6px 12px 9px 15px;
}


.program__button {
  width: 280px;
  height: 40px;
  color: #ffffff;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 20px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}


.program__necessarily-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 21px 81px 32px;
}

.program__title-vis-hid {
  @include visually-hidden;
}

.program__label-icon-phone {
  position: absolute;
  top: 12px;
  right: 14px;
  color: #222222;
}

.program__label-icon-email {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #222222;
}


// планшетная версия
@media (min-width: $tablet-width) {
  .program__wrap {
    width: 768px;
    padding: 32px 67px 72px 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .program__input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  .program__name-label {
    padding-bottom: 11px;
  }

  .program__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 54px;
  }

  .program__title--owner::after {
    width: 145px;
    top: 21px;
    right: -182px;
  }

  .program__title--comment::after {
    width: 478px;
    top: 20px;
    right: -515px;
  }

  .program__title--additionally::after {
    width: 446px;
    top: 21px;
    left: 251px;
  }

  .program__title--owner::before,
  .program__title--comment::before,
  .program__title--additionally::before {
    position: absolute;
    content: "";
    background-color: $green;
    height: 2px;
    width: 30px;
    top: 21px;
    left: -70px;
  }

  .program__desc {
    margin: 0;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .program__fieldset--cat {
    padding: 0;
    margin-bottom: 72px;
    border: none;
  }

  .program__label {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .program__label--cat-name {
    gap: 18px;
  }

  .program__label--cat-weight {
    gap: 22px;
  }

  .program__label--cat-age {
    gap: 12px;
  }

  .program__input--cat-weight {
    padding-left: 18px;
  }

  .program__input--cat-age {
    padding-left: 18px;
    padding-bottom: 8px;
  }

  .program__fieldset--choice {
    padding: 25px 28px 29px 28px;
    border: 1px solid #cdcdcd;
  }

  .program__control-mark-radio {
    width: 40px;
    height: 40px;
    top: -3px;
  }

  .program__fieldset--owner {
    margin-top: 76px;
    padding: 0;
  }

  .program__label-text--one {
    padding-top: 4px;
  }

  .program__label-text {
    padding-left: 15px;
  }

  .program__choice-item {
    margin-bottom: 22px;
  }

  .program__title--comment,
  .program__title--owner {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-left: 0;
  }

  .program__label--owner-email {
    gap: 22px;
  }

  .program__label--owner-phone {
    gap: 16px;
  }

  .program__input--owner,
  .program__input--email {
    padding-left: 19px;
  }

  .program__label-icon-phone {
    top: 15px;
    right: 16px;
  }

  .program__fieldset--comment {
    margin-top: 65px;
    padding: 0;
  }

  .program__comment-textarea {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    height: 174px;
  }

  .program__fieldset--additionally {
    margin-top: 65px;
    margin-bottom: 60px;
    padding: 0;
  }

  .program__title--additionally {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 63px;
  }

  .program__additionally-list {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 123px;
    row-gap: 41px;
  }

  .program__additionally-item {
    margin: 0;
    min-width: 221px;
  }

  .program__label--checkbox-field {
    padding-left: 59px;
  }

  .program__control-mark-checkbox {
    width: 40px;
    height: 40px;
    bottom: -6px;
  }

  .program__input--radio-field:checked + .program__control-mark-radio::before {
    width: 18px;
    height: 18px;
    left: 10.3px;
    top: 10.3px;
  }

  .program__button {
    width: 282px;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    line-height: 0px;
    height: 52px;
    margin: 0;
  }

  .program__wrapper-tablet {
    display: flex;
    gap: 61px;
    align-items: center;
  }

  .program__necessarily-text {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 7px;
  }

  .program__input--checkbox-field[type="checkbox"]:checked + .program__control-mark-checkbox::before {
    background-image: url("../img/tick-tablet.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 10px;
    left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrap {
    padding: 41px 110px 84px;
    width: 1440px;
  }

  .program__title {
    margin-bottom: 56px;
  }

  .program__desc {
    margin-bottom: 66px;
  }

  .program__fieldset--cat {
    margin: 0%;
    width: 569px;
  }

  .program__fieldset--choice {
    width: 568px;
  }

  .program-wrapper-desktop {
    display: flex;
    justify-content: space-between;
  }

  .program__title--owner {
    margin-bottom: 76px;
  }

  .program__fieldset--owner .program__label {
    margin: 0;
  }

  .program__fieldset-wrap {
    display: flex;
    justify-content: space-between;
  }

  .program__label--owner-email {
    width: 569px;
  }

  .program__label--owner-phone {
    width: 572px;
  }

  .program__fieldset--comment {
    margin-top: 65px;
  }

  .program__title--comment {
    margin-bottom: 76px;
  }

  .program__comment-textarea {
    width: 1120px;
    height: 174px;
  }

  .program__fieldset--additionally {
    margin-top: 68px;
    margin-bottom: 65px;
    padding-right: 24px;
  }

  .program__title--additionally {
    margin-bottom: 62px;
  }

  .program__additionally-list {
    display: flex;
    gap: 104px;
  }

  .program__button {
    width: 568px;
  }

  .program__necessarily-text {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 1px;
  }

  .program__wrapper-tablet {
    gap: 82px;
  }

  .navigation-menu__item--active::after {
    top: 38px;
    left: 0;
  }

  .program__label-text {
    padding-left: 13px;
    padding-top: 2px;
  }

  .program__control-mark-radio {
    top: -1px;
    left: -4px;
  }

  .program__fieldset--owner {
    margin-top: 70px;
  }

  .program__input--owner-phone {
    padding-left: 19px;
  }

  .program__title--owner::after {
    width: 778px;
    top: 20px;
    right: -814px;
  }

  .program__title--comment::after {
    width: 1108px;
    top: 22px;
    right: -1149px;
  }

  .program__title--additionally::after {
    width: 1078px;
    top: 23px;
    left: 251px;
  }

  .program__title--owner::before,
  .program__title--comment::before,
  .program__title--additionally::before {
    position: absolute;
    content: "";
    background-color: $green;
    height: 2px;
    width: 70px;
    top: 22px;
    left: -111px;
  }
}
