@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin centre {
  width: 320px;
  margin: 0 auto;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin btn {
  height: 40px;
  color: #ffffff;
  background-color: $green;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
